head {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1rem;
  color: blue;
  back-ground color: #ffffff;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1rem;
  color: #0095DD;
  back-ground color: white;
}

